.allContainer {
    display: flex;
    border: 1px solid black;
    margin-top: 55px;
    padding: 10px;
    gap: 20px;
}

.feedback {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
}

.feedback h3 {
    margin: 0 0 5px;
    font-size: 1.1em;
}

.feedback-content {
    line-height: 1.4em;
    max-height: 2.8em;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.remove-button {
    border: none;
    font-size: 1.2em;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.remove-button:hover {
    border: 1px solid black;
}

.time-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    margin-top: 8px;
}

main {
    /* display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid black; */
    flex: 2;
    width: 60%;
    margin-right: 15px;
}

aside {
    flex: 1;
    width: 30%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

aside h2 {
    font-size: 1em;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.top-feedback {
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.top-feedback h4 {
    font-size: 0.9em;
    margin: 0 0 3px;
}

.top-feedback p {
    font-size: 0.8em;
    margin: 0 0 5px;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.top-feedback span {
    color: #666;
    font-size: 0.8em;
}